*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header .logo__inner {
  color: #212121;
}

.header {
  text-align: center;
  padding: 16px 0;
}

.hero {
  background-image: url('./images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Games */

.section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-title::after {
  content: '';
  width: 100px;
  height: 2px;
  background: #2196f3;
  display: block;
  margin: 4px auto 30px;
}

.game {
  display: block;
  text-decoration: none;
  border: 1px solid #eee;
  transition: box-shadow 150ms;
  margin-bottom: 30px;
}

.game__img {
  display: block;
  width: 100%;
}

.game__info {
  margin: 20px 24px;
}

.game__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  transition: color 150ms;
}

.game__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.game:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.game:hover .game__title {
  color: #2196f3;
}

.games__list {
  padding: 0 15px;
}

@media (min-width: 1440px) {
  .games__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 45px;
  }

  .game {
    margin-bottom: 0;
  }

  .game__img {
    height: 294px;
  }
}

/* /Games */

/* Contact Us */

.contact-us {
  padding-bottom: 54px;
}

.form {
  max-width: 370px;
  margin: 0 auto;
}

.form__field {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus {
  outline: none;
  border-color: #2196f3;
}

textarea.form__input {
  font-family: inherit;
  resize: none;
}

.form__submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #2196f3;
  padding: 10px 78px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;

  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.form__submit:hover {
  background-color: #188ce8;
}

@media (min-width: 1440px) {
  .contact-us {
    padding-top: 54px;
  }
}

/* /Contact Us */

/* Foter */

.footer {
  text-align: center;
  background-color: #2f303a;
  padding: 60px 15px;
}

.footer .logo__inner {
  color: #fff;
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;

  margin-bottom: 8px;
}

.footer__email,
.footer__phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer__email {
  margin-bottom: 8px;
}

/* /Foter */
